## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [ ]:
 MongoDB is a document-oriented,open-source, and one of the most popular NoSQL database. The term NoSQL means non-relational.
Non relational database has no table like relational database structure.It stores the data in BSON format which is very similar to JSON format.
It has different mechanism for storage and retreival.
Uses of MongoDB:
(i) It is mostly used when we handle very large amount of data.
(ii) We can easily add new fields since it is schema-less.
(iii) Mostly used when we have distributed data.

## Q2. State and Explain the features of MongoDB.

In [ ]:
Features of MongoDB:
(i) Document oriented-Since it is a NoSQL database, it stores the data in document instead of tables.
(ii)Scalable- It is horizontally scalable using shreds
(iii)Indexing- For efficient searching, Indexing is used since it process huge amount of data in very less time
(iv)High Availability- It increases the availability by storing the data in different servers which protect the data from hardware failure.
(v)Aggregation- It process the data and returns the computed results.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://deepalidips:deepalidips@cluster0.oem0hri.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
client

MongoClient(host=['ac-xjef0mk-shard-00-01.oem0hri.mongodb.net:27017', 'ac-xjef0mk-shard-00-02.oem0hri.mongodb.net:27017', 'ac-xjef0mk-shard-00-00.oem0hri.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-fpljie-shard-0', tls=True)

In [4]:
uri = pymongo.MongoClient("mongodb+srv://deepalidips:deepalidips@cluster0.oem0hri.mongodb.net/?retryWrites=true&w=majority")

In [5]:
client = uri['Assignment']

In [6]:
data5 = {"name" : "Deepali",
         "city" : "Gurgaon",
         "course" : "DS Masters"}

In [8]:
colls_Assignment = client["Assignment_17Feb"]

In [10]:
colls_Assignment.insert_one(data5)

## Q4. Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
# insert one 

data11 = {"brand" : "zara",
         "style" : "boho",
         "cloth" : "one peice"}

In [12]:
colls_Assignment = client["Assignment_17Feb"]

In [13]:
colls_Assignment.insert_one(data11)

In [17]:
# insert many record 

data22 =({'name':'dips','age':100,'course':'database'},{'name':'chetu','age':1000,'course':'bcom'},{'name':'anki','age':10000,'course':'btech'})
colls_Assignment.insert_many(data22)

In [19]:
# finf() and find_one()

data33={'name':'Georgia','age':24,'course':'ruby'}
colls_Assignment.insert_one(data33)

In [22]:
print("using find() method")
for i in colls_Assignment.find():
  print(i)
print("using find_one() method")
print(colls_Assignment.find_one({'age':24}))

using find() method
{'_id': ObjectId('6468e123d4f68ec2a3304ec1'), 'name': 'Deepali', 'city': 'Gurgaon', 'course': 'DS Masters'}
{'_id': ObjectId('6468e305d4f68ec2a3304ec2'), 'brand': 'zara', 'style': 'boho', 'cloth': 'one peice'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec3'), 'name': 'dips', 'age': 100, 'course': 'database'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec4'), 'name': 'chetu', 'age': 1000, 'course': 'bcom'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec5'), 'name': 'anki', 'age': 10000, 'course': 'btech'}
{'_id': ObjectId('6468e664d4f68ec2a3304ec6'), 'name': 'Georgia', 'age': 24, 'course': 'ruby'}
using find_one() method
{'_id': ObjectId('6468e664d4f68ec2a3304ec6'), 'name': 'Georgia', 'age': 24, 'course': 'ruby'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [23]:
## find() method:
'''find() method is used to select the documents in the collection and returns the cursor to the selected document.
When we use find() method, it returns the pointer on the selected document and returns one by one.'''
print("using find() method")
for i in colls_Assignment.find():
  print(i)

using find() method
{'_id': ObjectId('6468e123d4f68ec2a3304ec1'), 'name': 'Deepali', 'city': 'Gurgaon', 'course': 'DS Masters'}
{'_id': ObjectId('6468e305d4f68ec2a3304ec2'), 'brand': 'zara', 'style': 'boho', 'cloth': 'one peice'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec3'), 'name': 'dips', 'age': 100, 'course': 'database'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec4'), 'name': 'chetu', 'age': 1000, 'course': 'bcom'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec5'), 'name': 'anki', 'age': 10000, 'course': 'btech'}
{'_id': ObjectId('6468e664d4f68ec2a3304ec6'), 'name': 'Georgia', 'age': 24, 'course': 'ruby'}

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [25]:
# 6) sort() in MongoDB:
'''sort() specifies the order in which the query returns the matching documents from the collection.
It takes the document as the parameter that contains the field:value pair that defines the sort order of the result.
The value is 1 or -1 which specifies the ascending or descending order sort respectively'''

print("sorting name in descending order")
sorted_list=colls_Assignment.find().sort("name",-1)
for i in sorted_list:
  print(i)
print("sorting age in ascending order")
sorted_list1=colls_Assignment.find().sort("age",1)
for i in sorted_list1:
  print(i)

sorting name in descending order
{'_id': ObjectId('6468e453d4f68ec2a3304ec3'), 'name': 'dips', 'age': 100, 'course': 'database'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec4'), 'name': 'chetu', 'age': 1000, 'course': 'bcom'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec5'), 'name': 'anki', 'age': 10000, 'course': 'btech'}
{'_id': ObjectId('6468e664d4f68ec2a3304ec6'), 'name': 'Georgia', 'age': 24, 'course': 'ruby'}
{'_id': ObjectId('6468e123d4f68ec2a3304ec1'), 'name': 'Deepali', 'city': 'Gurgaon', 'course': 'DS Masters'}
{'_id': ObjectId('6468e305d4f68ec2a3304ec2'), 'brand': 'zara', 'style': 'boho', 'cloth': 'one peice'}
sorting age in ascending order
{'_id': ObjectId('6468e123d4f68ec2a3304ec1'), 'name': 'Deepali', 'city': 'Gurgaon', 'course': 'DS Masters'}
{'_id': ObjectId('6468e305d4f68ec2a3304ec2'), 'brand': 'zara', 'style': 'boho', 'cloth': 'one peice'}
{'_id': ObjectId('6468e664d4f68ec2a3304ec6'), 'name': 'Georgia', 'age': 24, 'course': 'ruby'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec3'), 'name': 'dips', 'age': 100, 'course': 'database'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec4'), 'name': 'chetu', 'age': 1000, 'course': 'bcom'}
{'_id': ObjectId('6468e453d4f68ec2a3304ec5'), 'name': 'anki', 'age': 10000, 'course': 'btech'}

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
delete_many() = is used to delete all the documents in the collection.
delete_one() = is used to delete a single document in the collection.
drop() = is used to drop a collection from the database.